extend layout 

block title 
    | Contrato

block content
    table
        tr
            td
                | #{contrato.idcontrato}
            td 
                | #{contrato.objetoContrato}
            td 
                | #{contrato.dataCelebracaoContrato}
            td 
                | #{contrato.precoContratual}
            td 
                a(href=`/entidades/${contrato.NIPC_entidade_comunicante}`) #{contrato.NIPC_entidade_comunicante}
            td 
                | #{contrato.entidade_comunicante}
    a(href="/")